body {
  background: #fff;
}

.inputAndTotalsContainer {
  display: flex;
  /* border: 1px solid black; */
  padding: 20px;
}

.inputAndTotalsContainer > div {
  width: 40%;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: lavenderblush;
  margin: auto;
  padding: 10px;
}

input,
select {
  height: 27px;
  width: 130px;
  color: #000;
  margin: 10px 0 10px 0;
}

button {
  height: 38px;
  width: 110px;
  border-radius: 3px;
  border: 1px solid darkcyan;
  margin: 5px 0 0 15px;
  color: darkcyan;
}

h1 {
  color: indianred;
  text-align: center;
}

.totalRecordsContainer > h2 {
  color: olivedrab;
}

.totalRecordsContainer > h2 + h2 {
  color: rgb(104, 103, 92);
}

.totalRecordsContainer > h2 + h2 + h2 {
  color: royalblue;
}

.allRecordsContainer {
  height: auto;
  width: 90%;
  /* border: 1px solid yellowgreen; */
  margin-top: 20px;
  margin: auto;
  text-align: center;
}

.tableContainer {
  margin: auto;
  /* border: 1px solid purple; */
  width: 40%;
}

.tableContainer > table {
  padding-left: 70px;
}
